.title h1 {
  color: rgb(39, 39, 39);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  font-size: 2rem;
}
.container {
  margin-bottom: 7rem;
}

.main {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); */
  /* grid-template-columns: repeat(3); */
  grid-template-columns: 1fr 1fr;
  /* height: 50rem; */
  grid-gap: 3rem;
  row-gap: 0.5rem;

  /* background: #fff; */
}

@media screen and (max-width: 765px) {
  .container {
    margin-top: 7rem;
  }
  .main {
    grid-template-columns: 1fr;
  }
}
